#macro(head)
<head>
    <title>Cab Stats</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Cab Stats"/>

    <link rel="shortcut icon" href="assets/ico/favicon.ico"/>
    <link href="/resources/css/bootstrap.css" rel="stylesheet"/>
    <link href="/resources/css/style.css" rel="stylesheet"/>
    <link href="/resources/css/jquery-ui.css" rel="stylesheet"/>
    <link href="/resources/css/time-picker.css" rel="stylesheet"/>

    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/cabstats.js"></script>
    <script src="/resources/js/bootstrap-min.js"></script>
    <script src="/resources/js/jquery-ui.js"></script>
    <script src="/resources/js/time-picker.js"></script>
</head>
#end

#macro(default_navbar)<s></s>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="home">Cab Stats</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="home">Registration</a></li>
                </ul>
                <p class="navbar-text pull-right">
                    <a href="security/j_spring_security_logout">Log out</a>
                </p>
            </div>
        </div>
    </div>
</div>
#end


#macro(admin_navbar)<s></s>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="home">Cab Stats</a>

            <div class="nav-collapse">
                <ul class="nav active">
                    <li><a href="registerCustomer">Registration</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="viewData">View Stats</a></li>
                </ul>
                <p class="navbar-text pull-right">
                    <a href="security/j_spring_security_logout">Log out</a>
                </p>
            </div>
        </div>
    </div>
</div>
#end


#macro(footer)
<hr/>
<footer>
    <p>&copy; PS LVK</p>
</footer>
#end