<ul class="nav nav-tabs offset3">
    <li>
        <a href="registerCustomer">Customer Registration</a>
    </li>
    <li class="active"><a href="travelData">Travel Data</a></li>
</ul>

<div class="container offset3">

    <form class="form-horizontal well well-large" method="POST" action="/enterTravelData" modelattribute="travelData">
        <fieldset>

            <!-- Form Name -->
            <h2>Travel Data</h2>

            <hr/>
            <!-- Search input-->
            <div class="control-group">
                <label class="control-label">Phone no</label>

                <div class="controls">
                    <input id="msisdn" name="msisdn" type="text" placeholder="" class="input-xlarge search-query span6">
                </div>
            </div>
            <div class="alert alert-info" id="customer-details">

            </div>
            <div>
                <div class="secondary alert alert-error">
                    The phone number does not exist, Please provide details
                </div>
                <div class="control-group secondary">
                    <label class="control-label">Name</label>

                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="Enter the name"
                               class="input-xlarge span6">

                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group secondary">
                    <label class="control-label">Street Address</label>

                    <div class="controls">
                        <input id="street" name="street" type="text" placeholder="Enter the Street Address"
                               class="input-xlarge span6">

                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group secondary">
                    <label class="control-label">Area</label>

                    <div class="controls">
                        <input id="area" name="area" type="text" placeholder="Locality" class="input-xlarge span6">

                    </div>
                </div>


                <!-- Text input-->
                <div class="control-group secondary">
                    <label class="control-label">Pin Code</label>

                    <div class="controls">
                        <input id="pincode" name="pincode" type="text" placeholder="Enter the pincode"
                               class="input-xlarge span6">

                        <p class="help-block"></p>
                    </div>
                </div>

            </div>


            <!-- Appended Input-->
            <div class="control-group">
                <label class="control-label">Distance Travelled</label>

                <div class="controls">
                    <div class="input-append">
                        <input id="distance" name="distance" class="span3" placeholder="" type="text">
                        <span class="add-on">Kms</span>
                    </div>
                </div>
            </div>

            <!-- Prepended text-->
            <div class="control-group">
                <label class="control-label">Amount Charged</label>

                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">Rs</span>
                        <input id="amount" name="amount" class="span4" placeholder="" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Date Of Travel</label>

                <div class="controls">
                    <input id="date" name="date" class="span4 datepicker" placeholder="" type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Time Of Travel</label>


                <div class="controls">
                    <div class="input-append bootstrap-timepicker">
                        <input id="timepicker1" type="text" class="span6">
                    </div>
                </div>
            </div>



            #if(${successMessage})
                <div class="alert alert-success">
                    ${successMessage}
                    <a class="close" data-dismiss="alert">x</a>
                </div>
            #end

            <div class="controls">
                <input type="submit" id="register" name="register" class="btn btn-success"/>
                <button id="cancel" name="cancel" class="btn btn-danger">Cancel</button>
            </div>
        </fieldset>
    </form>

    <div id="registration-status">

    </div>

</div>
